.control-panel {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.control-panel span {
  margin-right: 10px;
  padding: 5px 12px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}

.toggle-bg-color {
  background-color: rgba(0, 0, 0, 0.15);
}
