.task-pop-up {
  width: 200px;
  background-color: white;
  border-radius: 5px;
  color: black;
  position: absolute;
  left: 265px;
  top: 50px;
  padding: 4px 0px 4px 15px;
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 10;
}

.hide-popup {
  display: none;
}

.task-pop-up-options {
  display: flex;
  align-items: center;
}

.task-pop-up-icon {
  margin-right: 5px;
}
